<div class="overlay"></div>
<div class="login-container d-flex justify-content-center align-items-center">
  <mat-card class="card-login__form mat-elevation-z3">
    <mat-card-content>
      <div class="d-block">
        <div class="logo-container w-100 d-flex justify-content-center">
          <div class="logo"></div>
        </div>
        <button class="mt-2" mat-raised-button color="primary" (click)="login()">
          <fa-icon [icon]="faGoogle"></fa-icon>
          Iniciar sesión con Google
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
