.login-container{
  background-image: url("/assets/images/background.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.card-login__form{
  width: 35%;
  height: auto;
  border-radius: 1em;
  .mat-mdc-card-content{
    height: 20em;
    display: flex;
    justify-content: center;
  }
}

.logo{
  background: url("/assets/images/news-podcast.png") transparent center 10px no-repeat;
  background-size: contain;
  height: 11em;
  width: 11em;
  margin-bottom: 15px;
  display: block;
}
