
.home_container{
  .logo-container{
    .logo{
      background: url("/assets/images/news-podcast.png") transparent center 10px no-repeat;
      background-size: contain;
      height: 56px;
      width: 4em;
      margin-bottom: 15px;
      display: block;
    }
  }
  .toolbar{
    border-bottom:  rgba(71, 157, 160, 0.85) solid 3px;
    .sections-container__button{
      background-color: transparent;
      border-bottom:  rgba(71, 157, 160, 0.85) solid 3px;
      transition: 400ms;
      &:hover{
        transition: 400ms;
        border-bottom:  rgba(8, 77, 80, 0.85) solid 3px;
      }
    }
  }

  .example-spacer{
    flex: 1 1 auto;
  }

}
