<div class="home_container">
  <mat-toolbar class="toolbar">
    <div class="logo-container">
      <div class="logo" [routerLink]="'/home'"></div>
    </div>
    <span>Noticias</span>
    <div class="sections-container ms-2">
      <button mat-flat-button class="me-2 sections-container__button" [routerLink]="'/home/noticia_categoria'">Inicio</button>
      <button mat-flat-button class="sections-container__button"[matMenuTriggerFor]="menu">Categorías</button>
    </div>
    <mat-menu #menu="matMenu">
      @for (categoria of categorias; track categoria){
        <button mat-menu-item class="section" (click)="redirectCategorySection(categoria.id)">{{categoria.description}}</button>
      }
    </mat-menu>

    <span class="example-spacer"></span>
    <button [matMenuTriggerFor]="menuProfile" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="icon-close" >account_circle</mat-icon>
    </button>
    <mat-menu #menuProfile="matMenu">
      <button  mat-menu-item [routerLink]="'/login'">
        <mat-icon>
          login
        </mat-icon>
        Iniciar Sesión
      </button>
      <button  mat-menu-item>
        <mat-icon>
          logout
        </mat-icon>
        Cerrar Sesión
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="content">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
