
.home_container{
  .logo-container{
    .logo{
      background: url("/assets/images/news-podcast.png") transparent center 10px no-repeat;
      background-size: contain;
      height: 56px;
      width: 4em;
      margin-bottom: 15px;
      display: block;
    }
  }
  .toolbar{
    background-color: rgba(71, 157, 160, 0.85);
  }



  .example-spacer{
    flex: 1 1 auto;
  }

  .titular-container{
    @extend .noticias-container;
  }
  .noticias-container{
    padding: 3em;
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
    .noticia{
      margin-top: 1em;
      border-radius: 10px;
    }
  }

}
